<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/page3" method="post">
        <input type="checkbox" name="message" id="message">
        <label for="message">Check me! to see the message from the developer</label>
        <input type="number" name="int1_" id="int1_" placeholder="Enter a number" min="0" max="10">

        <label for="int1_">Enter the number of fruit samples:</label>
        <input type="submit" value="Submit">
    </form>
</body>
</html>